@media(min-width:500px) {
  .row {
    display:flex;
    flex-direction:column;
  }
  table, form, .col-12, .inputs {
    width:400px;
    margin: 0% 20% 5% 0%;
  }
}
@media(min-width:768px) {
  .row {
    display:flex;
    flex-direction:row;
  }
  .inputs {
    width: 300px;
    margin: 0% 5% 0% 0%;
  }
  .col-12 {
    width:100%;
  }
  #no-grades {
  margin:0 auto;
  margin-bottom: 25%;
  }
}
