.container {
  display:flex;
  flex-direction:column;
}
.row {
  display:flex;
  flex-direction:row;
  width:100%;
  margin-bottom:2%;
  justify-content: center;
}
.partition {
  display:flex;
  flex-direction:column;
  width:50%;
}
.avg-grade {
  font-size:25px;
  border:2px solid;
}
table {
  border:2px solid;
}
.top-row {
  background-color:lightgray;
}
th, td {
  border-left:2px solid;
  border-right:2px solid;
}
.inputs {
  display:flex;
  flex-direction:column;
}
input {
  margin-bottom:2%;
}
button {
  margin-left:2%;
}
#no-grades {
  font-size: 30px;
  width:50%;
  margin:0 auto;
  margin-bottom: 15%;
}
