header {
  display:flex;
  flex-direction:row;
  width:100%;
  margin-bottom:2%;
}
.avg-grade {
  font-size:25px;
  border:2px solid;
}
table {
  width:80%;
  margin:0 auto;
  border:2px solid;
}
.top-row {
  background-color:lightgray;
}
th, td {
  border-left:2px solid;
  border-right:2px solid;
}
